<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../../styles/css/login.css">
</head>
<body>
<div class="row">
    <div class="col-xs-12">
        <label>
            название товара
            <input type="text" placeholder="Введите название товара"/>
        </label>
        <label>
            стоимость
            <input type="text" placeholder="Введите стоимость"/>
        </label>
        <label>
            количество единиц (для минимального заказа)
            <input type="number"/>
        </label>
        <label>
            стоимость (для минимального заказа)
            <input type="text" placeholder="Введите минимальную стоимость"/>
        </label>
        <button class="btn-btn-default">
            Указать цены за единицу продукции в зависимости от размера заказа
        </button>
        <button class="btn-btn-default">
            Указать стоимость доставки
        </button>
    </div>
</div>
</body>
</html>