.error-page .error-container {
  width: 223px;
  text-align: center;
  display: block;
  margin: 25% auto 0 auto; }

.error-page span.num {
  font-size: 100px; }

.error-page span.comment {
  font-size: 50px;
  display: block; }
