.footer-component {
  background-color: #4a4747;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 35px;
  -webkit-box-shadow: 0px 0px 2px 1px #a8a5a8;
  -moz-box-shadow: 0px 0px 2px 1px #a8a5a8;
  box-shadow: 0px 0px 2px 1px #a8a5a8; }
