include ./common/header

.row.add-address-page
    .col-md-8.col-md-offset-2
        h3
            | Добавить адрес доставки
        .container
            label
                span.label Название адреса
                input(type='text')
            label
                span.label Страна
                .dropdown
                    button.btn.btn-gray.dropdown-toggle(type='button', data-toggle='dropdown')
                        | Украина
                        span.caret
                    ul.dropdown-menu
                        li Украина
            label
                span.label Улица, дом, квартира
                input(type='text')
            label
                span.label Область
                .dropdown
                    button.btn.btn-gray.dropdown-toggle(type='button', data-toggle='dropdown')
                        | Выберите область
                        span.caret
                    ul.dropdown-menu
                        li Херсонская
            label
                span.label Город
                input(type='text')
            label
                span.label Телефон
                input(type='text')

            label
                span
                .button-container
                    button.btn.btn-default Сохранить
                    button.btn Отмена


include ./common/footer

