include ./common/header

.row.row-body.address-page
    .col-md-8.col-md-offset-2
        h3
            | Ваши адреса
        .container

            button.btn.btn-default Добавить новый адрес
            div
                .address
                    span.name
                        i.glyphicon.glyphicon-user
                        | Ivan Ivanovich Ivanov
                    span.street
                        i.glyphicon.glyphicon-map-marker
                        | Shevchenko 1A, 53
                    span.city Ukraine, Odessa, 123456
                    span.telephone
                        i.glyphicon.glyphicon-earphone
                        | +380123456
                    span.control-panel
                        a Редактировать
                        a Удалить

                .address
                    span.name
                        i.glyphicon.glyphicon-user
                        | Ivan Ivanovich Ivanov
                    span.street
                        i.glyphicon.glyphicon-map-marker
                        | Shevchenko 1A, 53
                    span.city Ukraine, Odessa, 123456
                    span.telephone
                        i.glyphicon.glyphicon-earphone
                        | +380123456
                    span.control-panel
                        a Редактировать
                        a Удалить

include ./common/footer


