<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="./../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./../node_modules/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="./../styles/css/login.css">
</head>
<body>

<div class="row">
	<div class="container col-sm-6 col-sm-offset-3 container">

		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href="#">Логин</a></li>
		  <li role="presentation"><a href="#">Регистрация</a></li>
		</ul>


		<form class="login">
			<label class="email">
			    <i class="glyphicon glyphicon-envelope"></i>		
				<input type="text" name="" placeholder="Электронная почта">
			</label>
			<label>
			    <i class="glyphicon glyphicon-eye-close"></i>
				<input type="text" name="" placeholder="Пароль">
			</label>
			<button type="button" class="btn btn-default">Войти</button>

			<a class="forgot-password">Забыли пароль?</a>
		</form>

		<!--<form class="register">
			<label>
				<input type="text" name="" placeholder="Электронная почта">
			</label>
			<label>
				<input type="text" name="" placeholder="Пароль">
			</label>
			<label>
				<input type="text" name="" placeholder="Подтвердите пароль">
			</label>
			<button type="button" class="btn btn-default">Зарегистрироваться</button>
		</form>-->

		

	</div>
</div>

</body>
</html>