include ./common/header

.row.login-page
    .col-sm-6.col-sm-offset-3
        .container
            ul.nav.nav-tabs
                li.active(role='presentation')
                    a(href='#') Логин
                li(role='presentation')
                    a(href='#') Регистрация
            form.login
                label.email
                    i.glyphicon.glyphicon-envelope
                    input(type='text', name='', placeholder='Электронная почта')
                label
                    i.glyphicon.glyphicon-eye-close
                    input(type='text', name='', placeholder='Пароль')
                button.btn.btn-default(type='button') Войти
                a.forgot-password Забыли пароль?
        //
          <form class="register">
          <label>
          <input type="text" name="" placeholder="Электронная почта">
          </label>
          <label>
          <input type="text" name="" placeholder="Пароль">
          </label>
          <label>
          <input type="text" name="" placeholder="Подтвердите пароль">
          </label>
          <button type="button" class="btn btn-default">Зарегистрироваться</button>
          </form>

include ./common/footer