@import './../../node_modules/bootstrap/dist/css/bootstrap.min';

html, body {
  background: #f1f3f6;
}

label, span {
  font-weight: 100;
  font-size: inherit;
}

h4 {
  font-size: 16px;
}

h3 {
  font-size: 19px;
}

b {
  font-weight: 100;
  color: #616469;
}

.text-warning {
  color: #585D65;
}

.text-danger {
  color: #E63C3C;
}

.form-ui {
  padding: 40px;
}

.error-block {
  text-align: center;
  padding: 130px;
  background-color: rgba(118, 120, 123, 0.36);
}

.error-block a {
  color: #76787B;
}

.error-block a:hover {
  color: #5A5C5F;
}

/*div.error-block div.btn {
  background: #f2fafe;
  border: 1px solid #f2fafe;
  background: -moz-linear-gradient(top, #fff 0%, #DAD1CF 2%, #EFDCD8 100%);
  background: -webkit-linear-gradient(top, #fff 0%, #DAD1CF 2%, #EFDCD8 100%);
}*/

@import "auth";
@import "ui_common";
@import 'ui_tabs';
@import 'ui_input';
@import 'ui_navigation';
@import 'ui_table';
@import 'ui_button';
@import 'ui_alert';
@import 'ui_block';
@import 'ui_pricing_box';

.response-page {
  img {
    margin: 5% calc(50% - 250px);
    width: 500px;
    height: 400px;
  }
}

input {
  line-height: 44px;
}

.image-loader {
  .btn {
    position: relative;
  }

  input[type="file"] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
  }

  .doc-container, .img-container {
    //overflow: hidden;
    display: inline-block;
    position: relative;

    &:hover {

      .file-background {
        position: absolute;
        background: #555759;
        border: #fff solid 2px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        top: -12px;
        right: -12px;
        z-index: 5;
        color: #fff;
        line-height: 22px;
        font-size: 18px;

        &::after {
          content: "x";
          display: inline-block;
        }
      }
    }

  }

  .doc-container {
    color: #FFF;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    margin: 0 3px;

    .document {
      display: inline-block;
      background: #939495;
      width: 50px;
      height: 50px;

      &:hover {
        &::after {
          content: attr(data-doc);
          display: inline-block;
          position: absolute;
          background: #656668;
          border: solid 1px #fff;
          border-radius: 5px;
          font-size: 12px;
          line-height: 12px;
          padding: 5px;
          z-index: 10;
          bottom: 0;
        }

      }
    }
  }

  .img-container {
    width: 100px;
    height: 100px;

    img {
      max-width: 100%;
      max-height: 100%;
    }

  }

  .btn-plus {
    vertical-align: top;
    padding: 0 10px;
  }
}

