.auth-form {
  margin-top: 120px;
}

.btn-primary {
  background-color: #3498DB;
  border: rgba(90, 104, 111, 0.25) solid 5px;
}

li.tab {
  color: #848D92;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
  background: #fff;
  border-radius: 0 !important;
  font-size: 16px !important;
}

.register-form {
  select[name=legal_entity], input[name="birthday"] {
    width: 50%;
    @media (max-width: 992px) {
      width: 100%;
    }
  }
  label {
    padding: 0;
    .label {
      display: block;
      color: #333;
      font-weight: 100;
      font-size: inherit;
      text-align: left;
      padding-left: 0;
    }
  }
}