@import '../../../common/scss/app';
@import './../../../node_modules/swiper/dist/css/swiper';
@import './new_product';

.btn-submit {
    margin: 15px;
}

.product-form {
  margin-bottom: 10px;
}

.profile-list {
  list-style: none;
}

.profile-form {
  z-index: 10!important;
}

